/**
 * Colors
 */
$black: #000;
$gray-900: #1e1e1e;
$gray-800: #2f2f2f;
$gray-700: #757575;
$gray-600: #949494;
$gray-400: #ccc;
$gray-300: #ddd;
$gray-200: #e0e0e0;
$gray-100: #f0f0f0;
$white: #fff;

$active-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
$link-color: #2271b1;
$link-hover-color: #135e96;
$border-color: $gray-300;

/**
 * Container
 */
$container-padding: 24px;

/**
 * Variables
 */
$border-width: 1px;
$border-radius: 2px;
