.jsf-listings-list {
	position: relative;
	padding-top: 30px;
	z-index: 1;

	&__add-new-button {
		position: relative;
		display: block;
		margin-bottom: -50px;
		margin-left: 40px;
		z-index: 1;
	}

	.dataviews {
		&__view-actions {
			justify-content: flex-end;
			gap: 10px;
		}
	}
}
