.cmd-cnt-chat-app {
	position: fixed;
	width: calc(100vw - 195px);
	max-width: calc(100vw - 195px);
	height: calc(100vh - 80px);
	max-height: calc(100vh - 80px);
	z-index: 999;
	display: flex;
}

.cmd-cnt-chat-helper {
	height: 100%;
	flex: 1 1 auto;
	margin: 0 !important;
	border-left: none;
	> .components-panel__body {
		height: calc(100% - 48px);
		box-sizing: border-box;
		overflow: auto;
	}
}

.cmd-cnt-header-actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 16px 0 0;
	button.components-button {
		margin-top: -47px;
	}
}

.cmd-cnt-chat-panel {
	height: 100%;
	max-width: 880px;
	flex: 0 0 80%;
	> .components-panel__body {
		padding-top: 0;
		padding-right: 0;
		height: calc(100% - 48px);
		box-sizing: border-box;
	}
}

.cmd-cnt-body {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}

.cmd-cnt-messages {
	display: flex;
	flex-direction: column;
	gap: 12px;
	min-height: 30vh;
	flex: 1 1 auto;
	overflow: auto;
	padding-top: 16px;
	padding-right: 16px;
}

.cmd-cnt-input {
	padding-right: 16px;
	position: relative;
	.components-base-control__field {
		margin: 0;
		position: relative;
	}
}

.cmd-cnt-input-textarea {
	textarea {
		width: 100%;
		padding-right: 48px;
		box-sizing: border-box;
		resize: none;
		min-height: 60px;
		font-size: 14px;
		line-height: 20px;
	}
}

.cmd-cnt-input-submit {
	position: absolute;
	bottom: 12px;
	right: 28px;
}

.cmd-cnt-message {
	font-size: 14px;
	line-height: 20px;
	p {
		font-size: 14px;
		line-height: 20px;
	}
	&.cmd-cnt-message-user {
		background-color: #f0f0f0;
		border-radius: 8px;
		padding: 8px 16px;
		max-width: 80%;
		align-self: flex-end;
		font-size: 15px;
		line-height: 21px;
		p {
			padding: 0;
			margin: 0;
			font-size: 15px;
			line-height: 21px;
			& + p {
				padding-top: 8px;
			}
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.cmd-cnt-messages-end {
	height: 0;
}

.cmd-cnt-helper-header {
	padding: 0 0 16px;
	margin: 0;
}

.cmd-cnt-tool-list {
	padding: 0 0 16px;
	margin: 0;
	max-height: 266px;
	overflow: auto;
}

.cmd-cnt-tool-item {
	a {
		color: var(--wp-admin-theme-color);
		text-decoration: dashed underline;
	}
}

.cmd-cnt-tool-param-info {
	padding: 0 0 16px;
	&__name {
		font-weight: 600;
		font-size: 14px;
		margin: 0;
		padding: 0 0 4px;
	}
	&__type {
		font-size: 13px;
		font-style: italic;
		margin: 0;
		padding: 4px 0 0;
		color: #555;
	}
	&__props {
		font-size: 13px;
		font-style: italic;
		pre {
			font-style: normal;
			background: #f0f0f0;
			padding: 8px;
			border-radius: 3px;
			overflow: auto;
			margin: 4px 0 0;
		}
	}
}

.cmd-cnt-helper-row {
	display: flex;
	flex-direction: row;
	gap: 8px;
	margin: 0 0 16px;
	align-items: flex-end;
	flex: 0 0 100%;
}
.cmd-cnt-helper-section {
	padding: 0 0 16px;
	margin: 0;
	display: flex;
	flex-direction: row;
	gap: 4px;
	flex-wrap: wrap;
}

.cmd-cnt-note {
	font-size: 13px;
	line-height: 18px;
	padding: 16px;
	background-color: #3858e922;
	color: #3858e9;
	border-radius: 3px;
	margin: 0 0 16px;
}

.cmd-cnt-modal-actions {
	position: sticky;
	bottom: 0;
	background: #fff;
	display: flex;
	gap: 16px;
	padding-bottom: 32px;
	padding-top: 16px;
	align-items: center;
}

.cmd-cnt-modal {
	height: 85vh;
	max-height: 85vh;
	.components-modal__content {
		padding-bottom: 0;
	}
}