.single-property .banner{
    width: 100%;
    position: relative;
    text-align: center;
    background-image: url('../images/cozy-lively-home-interior-design.jpg');
    background-position: center;
    object-fit: cover;
    padding: 80px 20px;
    color: white;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.single-property .banner::after{
    content: "";
    background-color: rgba(15,23,42,0.75);
    position: absolute;
    width:100%;
    height: 100%;
}


.single-property .banner .banner-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 65px;
    font-weight: bold;
    line-height: 75px;
    color: white;
    z-index: 5;
}


.carousel-item img {
    width: 50%;
    height: 450px;
    object-fit: cover;
    border-radius: 12px !important;
}

.carousel-control-prev, .carousel-control-next{
   position: absolute;
   top: 50% !important;
   background-color: rgb(15,23,42) !important;
   border-radius: 100% !important;
   height: 50px !important;
   width: 50px !important;
   opacity: 1 !important;
   
}

.carousel-control-prev:hover, .carousel-control-next:hover{
   
   background-color: rgb(197, 1, 99) !important;
   
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 1.5rem !important;
    height: 1.5rem;
    color:white;
}



.dp-carousel{
    width:70% !important;
}


.dp-property-content{
    padding: 80px 120px !important;
}