.dp-custom-form{
    background: #0a0563;
    background: linear-gradient(90deg,rgba(10, 5, 99, 1) 0%, rgba(7, 7, 186, 1) 35%, rgba(0, 191, 255, 1) 100%);
    color: #ffffff;
    padding: 50px;
    border:none;
    border-radius: 15px;
    margin:20px;
    
}
.dp-custom-form .dp-form-field{
    margin-bottom: 20px;
   
}

.dp-custom-form .dp-form-field label{
    color: #ffffff;
    font-size:18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dp-custom-form .dp-form-field input,
.dp-custom-form .dp-form-field textarea{
    width:100%;
    padding:10px;
    border: 1px solid rgba(255,255,255,0.65);
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff
}

.dp-custom-form .dp-submit-button{
    background-color: #ffffff;
    color: #0a0563;
    padding: 12px 35px;
    border: 3px double #0a0563;
    border-radius: 35px;
    font-size: 16px;
    cursor: pointer;
}